version: '3'

services: 

  backend:
    build: 
      context: backend
    container_name: Backend
    working_dir: /usr/src/app
    networks: 
      - node-network
    volumes: 
      - ./node:/usr/src/app
      - /usr/src/app/node_modules
    tty: true
    ports: 
      - "8080:8080"
    command: npm run start

  frontend:
    build: 
      context: frontend
    container_name: Frontend
    working_dir: /usr/src/app
    networks: 
      - node-network
    volumes: 
      - ./react:/usr/src/app
      - /usr/src/app/node_modules
    tty: true
    ports: 
      - "5173:5173"
    command: npm run dev

networks:
  node-network:
    driver: bridge

