@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
  --bg-primary : #0a0a0f;
  --bg-secondary: #111118;
  --text-primary: #f8f9fa;   /* almost white */
  --text-secondary: #c9d1d9; /* softer gray-white */
  --accent: #7b5eff;  
  --font-fira: Fira Sans;
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-finger-paint: Finger Paint
}

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--bg-primary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}
